td {
	font-size: 9pt;
	line-height: 120%;
}
a:link {text-decoration: underline;color: #000000;}
a:visited { text-decoration: underline; color: #000000}
a:hover {text-decoration: none;color: #3366EE;}
BODY {
	FONT-SIZE: 9pt;
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-ARROW-COLOR: #620202;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow;
	line-height: 120%;
	color: #000000;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;



	fixed
;
	font-family: Verdana, "ו";
}
.bigtxt {
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 120%;
	font-weight: bold;
	color: #000099;
}
.engtxt {
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 128%;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
.buinput {
	FONT-SIZE: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	border-top: 1px inset #EAEAF2;
	border-right: 1px outset #EAEAF2;
	border-bottom: 1px outset #EAEAF2;
	border-left: 1px inset #EAEAF2;
}
.item_table {
	border: 1px solid #FFA100;
	background-color: #FFF8D2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: normal;
}
