*{ margin:0; padding:0;}
body{ margin:0;color:#909090; font:12px Verdana,Arial,Tahoma; line-height:20px;}
div, form, img, ul, ol, li, dl, dt, dd{ margin:0; padding:0;}
ul,li{ list-style:none;}
#hd,#content,#ft{width:1000px;margin:0;}
a{ color:#262626; text-decoration:none;}
a:link,a:visited{ color:#7D7835; text-decoration:none;}
a:hover,a:active{ color:#02D2FE; text-decoration:underline;}
.mndc{ width:184px; height:35px;overflow:hidden; display:block; background:url(http://ossweb-img.qq.com/images/qqtang/web08/left_63.jpg) no-repeat;}
.mnbg{height:120px; padding-left:10px;}
a.hid35{ overflow:hidden; text-indent:-999px; display:block; height:35px; padding-left:10px;}
/* µ×²¿*/
.border_bo{border-bottom:1px dotted #B5B392; color:#8D8D8D; line-height:20px;}
.kinebg td{border-bottom:1px dotted #B5B392; color:#84804A; padding:4px 1px;}
.searchbg{background:url(http://ossweb-img.qq.com/images/qqtang/web08/search.gif) no-repeat left; float:left; width:34px; margin:2px 10px; text-align:center; cursor:pointer; height:16px; padding-top:2px;}
.subbg:link,.subbg:visited{color:#909090;text-decoration:none;}
.subbg:hover,.subbg:active{color:#1CAFE1; text-decoration:none;}
.ny_stroybg{background:url(http://ossweb-img.qq.com/images/qqtang/web08/ce_lingbg01.gif);line-height:22px; padding:0px 5px;}
.ny_txtart{ color:#269FDF; font-weight:bolder;}
.ny_strpic{background-color:#FFFFFF; padding:0px 5px; text-align:center;}
span{ float:right; margin-top:-22px; color:#F3ECD2;}
.news_line{line-height:22px; border-bottom:1px dotted #B5B392;}
.newbg{background:url(http://ossweb-img.qq.com/images/qqtang/web08/new_bg02.jpg) repeat-y; width:294px;}
.new_txt01{background:url(http://ossweb-img.qq.com/images/qqtang/web08/new_pic01.jpg) top no-repeat; width:294px; height:48px;}
.new_txt01 a,.new_bn02 a,.new_bn03 a{margin-left:4px; width:87px; height:35px; float:left;text-indent:-999px; overflow:hidden;}
.new_txt01 a1,.new_bn02 a1,.new_bn03 a1{margin-left:4px; width:90px; height:35px; float:left;}
.new_bn03{background:url(http://ossweb-img.qq.com/images/qqtang/web08/new_pic03.jpg) top no-repeat; width:294px; height:48px;}
.new_bn02{background:url(http://ossweb-img.qq.com/images/qqtang/web08/new_pic04.jpg) top no-repeat; width:294px; height:48px;}
.wg_txtbg{background:url(http://ossweb-img.qq.com/images/qqtang/web08/new_namebg.jpg) no-repeat center; height:24px; padding-left:21px; padding-top:7px; color:#00BCD8; line-height:20px;}
.wg_txtlink{background:url(http://ossweb-img.qq.com/images/qqtang/web08/new_name_icon.jpg) no-repeat center left; height:18px; padding-left:20px; padding-top:1px;}
.input {color:#969696; border:1px #B7B7B7 solid; background-color:#FFFFFF;}
.incone{background:url(http://ossweb-img.qq.com/images/qqtang/web08/icon_01.gif) left  no-repeat 8px; padding-left:8px; line-height:20px;border-bottom:1px dotted #B5B392; color:#8D8D8D;}
.more{padding:10px 0 0 210px; width:70px; height:16px;}
.more a{color:#687f00;}