@charset "gb2312";
/*---------- common style ----------*/
* {
	margin:0;
	padding:0;
}
html {
}
body {
	font:12px Tahoma, Helvetica, sans-serif;
	color:#fff;
	margin:0 auto;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20090429familygames/bg.jpg) repeat-x center 42px;
}
div, form, img, ul, ol, li, dl, dt, dd {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
}
ul {
	line-height:22px;
	list-style:none;
}
ol li{
	margin-left:23px;
	width:auto;height:auto;
}
a {
	text-decoration:none;
}
a:hover {
	color:#fff;
	text-decoration:underline;
}
input, select, form img, button {
	vertical-align:middle;
}
a img, img {
	border:0;
}
button {
	cursor:pointer;
}
.submit, .submit input {
	cursor:pointer;
}
.clear {
	clear:both;
}
/*---------- layout style ----------*/
#footer {
	margin:10px auto 0;
	padding-top:14px;
	width:845px;
	height:75px;
	color:#9f9f9f;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20090429familygames/foot_bg.jpg) no-repeat;
}
#footer p {
	float:left;
	padding-left:250px;
	height:20px;
	line-height:20px;
}
#footer p.c {
	float:left;
	margin-top:-20px;
	margin-left:413px;
	border:0;
	display:inline;
}
* html #footer p.c {
	margin-left:412px;
}
*+html #footer p.c {
	margin-left:422px;
}
#footer a {
	color:#9f9f9f;
}
/*---------- index style ----------*/
.content {
	margin:0 auto;
	width:1079px;
}
.top{
	height:433px;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20090429familygames/index_01.jpg) no-repeat;
	}
h1, h2{
	display:none;
	}
.top p{
	display:none;
	}
.main{
	height:782px;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20090429familygames/index_02.jpg) no-repeat;
	}
	.content ul{
		text-indent:-999px;
		overflow:hidden;
		}
	.content ol.rule1{
		margin:72px 0 0 330px;
		width:480px;
		color:#aa00a4;
		}
	.content ol.rule2{
		margin:25px 0 0 400px;
		width:480px;
		color:#0a6b00;
		}
		.content p.rule3{margin:5px 0 0 400px;
		width:480px;
		}
		.content p.rule3 img{padding-right:10px;
		}
		.content ol.rule4{
		margin:10px 0 0 400px;
		width:480px;
		color:#5d0000;
		}
		.content ol.rule5{
		margin:25px 0 0 400px;
		width:400px;
		color:#5d0000;
		}
		.content ol.rule6{
		margin-left:400px;
		padding-top:30px;
		width:440px;
		color:#5d0000;
		}
	.content ol li{
		line-height:18px;
		}
	.content em{
		font-weight:bolder;
		font-style:normal;
		padding-left:20px;
		background:url(http://ossweb-img.qq.com/images/qqtang/act/a20090429familygames/star.png) no-repeat;
		}
.bottom{
	height:262px;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20090429familygames/index_03.jpg) no-repeat;
	}
	.bottom a{
		display:block;
		margin:69px 0 0 574px;
		width:93px;
		height:32px;
		text-indent:-999px;
		overflow:hidden;
		}/*  |xGv00|7798d128b404b2ced3cd7928deb31138 */