.body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:18px;
	color:#ffffff;
	
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 22px;
	background-image:url(http://qqtang.qq.com/act/a20071109sword/images/bg_02.jpg);	
	background-color:#1E1A08;
}
a:link{font-size:12px;color:#652424;text-decoration:none}
a:visited{font-size:12px;color:#652424;text-decoration:none}
a:hover{font-size:12px;color:#FF921A;text-decoration:underline}
a:active{font-size:12px;color:#FF921A;text-decoration:underline}
.a{font-size:12px;color:#8D38C6;text-decoration:none}

.section{font-size:12px;color:#000000;}
.section:link{font-size:12px;color:#ffffff;text-decoration:none}
.section:visited{font-size:12px;color:#ffffff;text-decoration:none}
.section:hover{font-size:12px;color:#FF0000;text-decoration:underline}
.section:active{font-size:12px;color:#FF0000;text-decoration:underline}


.button {BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; FONT-SIZE: 12px; HEIGHT: 14pt}

.input {BORDER-BOTTOM: #D41401 1px solid; BORDER-LEFT: #D41401 1px solid; BORDER-RIGHT: #D41401 1px solid; BORDER-TOP: #D41401 1px solid; FONT-SIZE: 9pt; MARGIN-RIGHT: auto; height:15px}


.height {  font-size: 12px; line-height: 24px; color:#FFFFFF}
.a1{ color: #ffffff;}
.a2{ line-height:24px; padding-top:7px; color:#983B0D;}
.a3{ padding-left:10px; }
.a6{ line-height:28px;color:#ffffff; font-weight:bold; font-size:16px}
.txt01{ line-height:22px; }
.txt02{ color:#ffffff;  }
.bo {
	border: 1px solid #7C2E00;
	height: 100px;
	width: 100px;
	background-color: #FFFFFF;
}