.body,td,th {
	font-family: tahoma;
	font-size: 12px;
	line-height:18px;
	color:#666666;
	
}
body {
	margin: 0px;
	line-height: 22px;
	background-image:url(http://ossweb-img2.qq.com/images/qqtang/act/a20080421vip/bg01.jpg);
	background-repeat:repeat-x;
	background-color:#FCE6EB;
}
div{padding:0px; margin:0px;}
a:link{font-size:12px;color:#000000;text-decoration:none}
a:visited{font-size:12px;color:#000000;text-decoration:none}
a:hover{font-size:12px;color:#FF0000;text-decoration:underline}
a:active{font-size:12px;color:#FF0000;text-decoration:underline}
.a{font-size:12px;color:#000000;text-decoration:none; font-family: Verdana, Arial, Helvetica, sans-serif; padding-top:3px; }

.section{font-size:9pt;color:#0675AD; font-family: tahoma;}
.section:link{font-size:9pt;color:#6AB9E0;text-decoration:none}
.section:visited{font-size:9pt;color:#6AB9E0;text-decoration:none}
.section:hover{font-size:9pt;color:#FF0000;text-decoration:underline}
.section:active{font-size:9pt;color:#FF0000;text-decoration:underline}


.button {BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; FONT-SIZE: 12px; HEIGHT: 14pt}

.input {BORDER-BOTTOM: #D41401 1px solid; BORDER-LEFT: #D41401 1px solid; BORDER-RIGHT: #D41401 1px solid; BORDER-TOP: #D41401 1px solid; FONT-SIZE: 9pt; MARGIN-RIGHT: auto; height:15px}

.height {  font-size: 12px; line-height: 24px; color:#FFFFFF}
.txtred{ font-weight:bolder;}
.toptxt{ color:#303030; font-weight:bolder; text-align:center;border-bottom:1px dotted #E7A640; }
.txt02{ border-bottom:1px dotted #E7A640; text-align:center; padding-top:2px; padding-bottom:2px;}
.txt01{ border-bottom:1px dotted #E7A640;}
.txt_45{ border-bottom:1px dotted #9D9D9D; line-height:45px;}
.txt03{ border-bottom:1px dotted #9D9D9D;}
