@charset "gb2312";
/*---------- common style ----------*/
* {
	margin:0;
	padding:0;
}
html {
	margin:0 auto;
}
body {
	font:12px Tahoma, Helvetica, sans-serif;
	color:#8f1111;
	margin:0 auto;
	background:#ceb882 url(http://ossweb-img.qq.com/images/qqtang/act/a20091023family/index_01.jpg) no-repeat center 42px;	
}
div, form, img, ul, ol, li, dl, dt, dd {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
}
ul {
	line-height:22px;
	list-style:none;
}
ol li {
	margin-left:23px;
	width:auto;
	height:auto;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
input, select, form img, button {
	vertical-align:middle;
}
a img, img {
	border:0;
}
button {
	cursor:pointer;
}
.submit, .submit input {
	cursor:pointer;
}
.clear {
	clear:both;
}
/*---------- layout style ----------*/
#footer {
	margin:0 auto;
	padding-top:5px;
	width:994px;
	height:53px;
	color:#612f03;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20091023family/foot_bg.jpg) no-repeat center 0;	
}
#footer a.logo{
	display:block;
	float:left;
	margin:2px 0 0 150px;	
	_margin:1px 0 0 75px;
	text-indent:-999px;
	overflow:hidden;
	width:138px;
	height:44px;
}
#footer .text{
	float:left;
	margin:2px 0 0 20px;
	width:540px;
}
#footer p {
	float:left;
	height:20px;
	line-height:20px;
}
#footer p.c {
	float:left;
	margin-top:-20px;
	margin-left:413px;
	border:0;
	display:inline;
}S
* html #footer p.c {
	margin-left:412px;
}
*+html #footer p.c {
	margin-left:422px;
}
#footer a {
	color:#612f03;
}
/*---------- index style ----------*/
h1,h2{
	width:0;
	height:0;
	text-indent:-9999px;
	overflow:hidden;
}
.content{
	position:relative;
	margin:513px auto 0;
	width:1000px;	
	color:#4f2102;
	
}
.main{
	position:relative;
	margin-left:-44px;	
	height:1375px;
	color:#8f1111;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20091023family/index_02.jpg) no-repeat center 0;
}
.main dt{
	float:left;
	font-weight:bolder;
}
.time{
	float:left;
	position:relative;
	top:40px;
	left:150px;
	width:320px;
	height:150px;
	line-height:24px;
	color:#fff000;
}
.time dt{
	width:80px;
}
.map{
	float:right;
	position:relative;
	top:40px;
	right:130px;
	width:295px;
	height:150px;
	line-height:24px;
	color:#fff000;
}
.map dt{
	width:40px;
}
.main ul.p1{
	position:relative;
	top:95px;
	left:230px;
	width:630px;
}
.main ul.p1 dt{
	float:none;
}
.main ul.p1 dd{
	text-indent:2em;
}
.main ul.p2{
	position:relative;
	top:225px;
	left:230px;
	width:630px;
}
.main dl.p3{
	position:relative;
	top:370px;
	left:230px;
	width:630px;
}
.main dl.p3 dt{
	float:none;
	line-height:28px;
}
.main dl.p3 dd{
	line-height:20px;
}
.main em{
	font-style:normal;
}
.main em.red{
	color:#f00;
}
.main em.green{
	color:#6db20a;
}
.main a{
	font-family:"ו";
	color:#f00;
	text-decoration:underline;
}
.main a:hover{
	color:#f00;
	text-decoration:none;
}
.notice{
	position:relative;
	top:480px;
	left:255px;
	width:700px;
	line-height:20px;
	color:#bb1616;
}
.notice p{
	margin-top:20px;
}
.notice a{
	color:#0d8e1c;
}
h3{
	font-size:12px;
	line-height:30px;
}
/*  |xGv00|2db0b119af807f8bd595d18bfd144996 */