.body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:18px;
	color:#730000;
	
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 22px;
	background-image:url(http://ossweb-img2.qq.com/images/qqtang/a20071023act/bg_01.gif);	
	
	background-color:#ffffff;
}
a:link{font-size:12px;color:#8D38C6;text-decoration:underline}
a:visited{font-size:12px;color:#8D38C6;text-decoration:underline}
a:hover{font-size:12px;color:#FF1F20;text-decoration:none}
a:active{font-size:12px;color:#FF1F20;text-decoration:none}
.a{font-size:12px;color:#8D38C6;text-decoration:none}

.section{font-size:12px;color:#000000;}
.section:link{font-size:12px;color:#000000;text-decoration:none}
.section:visited{font-size:12px;color:#000000;text-decoration:none}
.section:hover{font-size:12px;color:#FF0000;text-decoration:underline}
.section:active{font-size:12px;color:#FF0000;text-decoration:underline}


.button {BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; FONT-SIZE: 12px; HEIGHT: 14pt}

.input {BORDER-BOTTOM: #D41401 1px solid; BORDER-LEFT: #D41401 1px solid; BORDER-RIGHT: #D41401 1px solid; BORDER-TOP: #D41401 1px solid; FONT-SIZE: 9pt; MARGIN-RIGHT: auto; height:15px}


.text01 {  font-size: 12px; line-height: 150%; text-decoration: none}
.ta01 {  font-size: 12px; line-height: 150%; text-decoration: none;	padding-top: 8px; padding-left: 4px;	}
.height {  font-size: 12px; line-height: 24px; color:#FFFFFF}

.td1{  font-size: 12px; padding-left:18px;line-height:18px; color:#754D0B;font-weight:bolder;}
.a1{
	color: #000000;
}
.a2{  color: #FFF4E6 }
.a3{  font-weight:bolder; color:#AE418D;}
.a4{ color:#FFF4E6; line-height:24px; background-image:url(http://ossweb-img2.qq.com/images/qqtang/a20071023act/bg_27.gif);}
.a5{ line-height:25px; background-image:url(http://ossweb-img2.qq.com/images/qqtang/a20071023act/bg_24.gif);}
.txt01{ line-height:22px; }
.txt02{ color:#CC1764; line-height:24px; }
.bo {
	border: 1px solid #91006D;
	height: 64px;
	width: 68px;
	background-color: #FFFFFF;
}
