@charset "gb2312";
/*---------- common style ----------*/
* {
	margin:0;
	padding:0;
}
html {
}
body {
	font:12px Tahoma, Helvetica, sans-serif;
	color:#ff0000;
	margin:0 auto;
	background:#8ecad5 url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/bg.jpg) repeat-x;
}
div, form, img, ul, ol, li, dl, dt, dd {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
}
ol, ul {
	line-height:22px;
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover {
	color:#fff;
	text-decoration:underline;
}
input, select, form img, button {
	vertical-align:middle;
}
a img, img {
	border:0;
}
button {
	cursor:pointer;
}
.submit, .submit input {
	cursor:pointer;
}
.clear {
	clear:both;
}
.boxer {
	margin:0 auto;
	width:1000px;
	height:1270px;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/index_01.jpg) no-repeat top center;
}
/*---------- layout style ----------*/
#topNav {
	margin-left:881px;
	padding-top:142px;
	width:102px;
	height:163px;
	z-index:999;
}
#topNav ol {
	position:absolute;
	list-style:none;
}
#topNav li {
	float:left;
	margin-bottom:8px;
	height:30px;
}
#topNav li a {
	display:block;
	width:102px;
	height:30px;
	background-repeat:no-repeat;
	text-indent:-999px;
	overflow:hidden;
}
#topNav li a.gwsy {
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/navi_01.jpg);
}
#topNav li a.help {
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/navi_02.jpg);
}
#footer {
	margin:-10px auto 0;
	padding-top:13px;
	width:742px;
	height:66px;
	color:#ed4745;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/bg_foot.jpg) no-repeat;
}
#footer p {
	float:left;
	padding-left:158px;
	height:20px;
	line-height:20px;
}
#footer p.c {
	float:left;
	margin-top:-20px;
	margin-left:413px;
	border:0;
	display:inline;
}
* html #footer p.c {
	margin-left:412px;
}
*+html #footer p.c {
	margin-left:422px;
}
#footer a {
	color:#ec0202;
}
/*---------- index style ----------*/
h1 {
	display:none;
}
h2 {
padding-bottom:5px;
	height:27px;
	text-indent:-999px;
	overflow:hidden;
	border-bottom:1px dashed #ff9999;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/title_01.gif) no-repeat;
}
.content {
	margin:0 auto;
	padding:0 175px;
	height:827px;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/index_02.jpg) no-repeat top center;
}
.content ul{margin-top:5px;}
.content li {
	padding:0 0 5px 20px;
	background:url(http://ossweb-img.qq.com/images/qqtang/act/a20081215christmas/icon.gif) no-repeat;
}
.mytab {
	margin:40px 0 0 40px;
	padding-bottom:30px;
	width:570px;
}
.mytab th {
	height:32px;
	color:#999999;
}
.mytab td {
	height:28px;
	text-align:center;
}
